.card{
    display: flex;
    flex-direction: column;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.1);
    overflow: hidden;
    .imageContainer{
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .detail{
        padding: 15px 5px;
        display: flex;
        flex-direction: column;
        // justify-content: center;
        flex-grow: 1;
        position: relative;
        .name{
            font-family: "Lato";
            text-align: center;
            color: rgba(0,0,0,.9);
            font-size: 1.1em;
        }
        .desc{
            font-size: .9em;
            text-align: center;
            margin-top: 6px;
            color: rgba(0,0,0,.75);
        }
        .socialMedia{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transform: translateY(100%);
            transition: transform .2s ;
            background-color: #333;
            // transition: transform .2s;
            ul{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                li{
                    margin: 0 5px;
                    transform: translateY(100%);
                    opacity: 0;
                    a{
                        padding: 3px;
                        height: 100%;
                        width: 100%;
                        display: flex;
                        font-size: 2em;
                        flex-direction: column;
                        justify-content: center;
                        svg{
                            color: #fff;
                            font-size: inherit;
                        }
                    }

                    $stagger:.08s;
                    &:nth-child(1){
                        transition:transform .2s 1*$stagger, opacity .1s 1*$stagger;
                    }
                    &:nth-child(2){
                        transition:transform .2s 2*$stagger, opacity .1s 2*$stagger;
                    }
                    &:nth-child(3){
                        transition:transform .2s 3*$stagger, opacity .1s 3*$stagger;
                    }
                    &:nth-child(4){
                        transition:transform .2s 4*$stagger, opacity .1s 4*$stagger;
                    }
                    &:nth-child(5){
                        transition:transform .2s 5*$stagger, opacity .1s 5*$stagger;
                    }
                }
            }
        }
    }
    &:hover{
        .detail{
            .socialMedia{
                transform: translateY(0);
                transition: transform .2s;
                ul{
                    li{
                        opacity: 1;
                        transform: translateY(0);
                    }
                }
            }
        }
    }
}