@import "../../sass/general.scss";

.root {
    display: flex;
    justify-content: space-between;
    @include fontSize(.8em, 2.0em);
    position: relative;

    .info {
        .title {
            font-weight: 700;
            margin: 10px 0;
            letter-spacing: 2px;
        }

        .address {
            font-size: 1.2em;
            color: #333;

            div {
                margin-top: 5px;
            }

            a {
                color: inherit;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }

    .map {
        width: 65%;
        max-width: 850px;
        height: 450px;

        .iframe {
            width: 100%;
            height: 100%;
        }
    }
}

@media only screen and (max-width:1000px) {
    .root{
        justify-content: center;

        .info{
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 15px;
            border-radius: 0 5px 0 0 ;
            
            background-color: rgba(0,0,0,.9);
            color: #eee;
            .address{
                color: #eee;
            }
        }
        .map{
            height: 350px;
            width: 100%;
        }
    }
}