@import "../../sass/general.scss";
$MainColor: rgb(255, 43, 13);
.nav,.spaceHolder{
    height: 75px;
}
.nav {
    @include fontSize(1.2em, 2em);
    background-color: rgba(255, 255, 255, 1);
    position: fixed;
    z-index: 99;
    width: 100%;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    padding: 10px 35px;
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
    .logoContainer {
        flex-grow: 1;
        height: 100%;

        img {
            height: 100%;
        }
    }

    a {
        color: inherit;
        text-decoration: none;
    }

    .subLinksContainer {
        display: none;
        background-color: #fff;
        position: absolute;
        font-size: .97em;
        top: calc(100% + 20px);
        left: 0;
        flex-direction: column;
        white-space: nowrap;
        padding: 15px 0 20px 0;
        box-shadow: 0px 2px 3px -1px rgba(0, 0, 0, 0.17);
        cursor: auto;

        &:before {
            content: "";
            position: absolute;
            top: -22px;
            left: 0;
            width: 100%;
            display: inline-block;
            height: 30px;
        }

        .items {
            $padRight: 15px;
            padding: 10px $padRight;
            opacity: .85;
            &:hover {
                $borderWidth: 3px;
                border-left: $borderWidth solid rgba($MainColor, .9);
                opacity: 1;
                padding-left: $padRight - $borderWidth;
                transition: border .15s, padding .15s;
            }
        }
    }

    .items {
        border: none;
        background-color: transparent;
        color: #000;
        font-size: .9em;
        padding: 5px 12px;
        font-weight: 500;
        transition: color .2s;
        cursor: pointer;
        position: relative;
        text-align: center;
        &:focus-visible {
            outline: 2px solid #000;
        }
    }

    .multiLinkLabel {
        padding-right: 30px;

        &:before {
            content: "";
            position: absolute;
            display: inline-block;
            width: 8px;
            height: 8px;
            border: solid #000;
            opacity: .7;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
            top: 10px;
            left: 78px;
            transition: border .2s;
        }

        &:hover:before {
            border-color: $MainColor;
        }

        &:hover .subLinksContainer {
            display: flex;
        }
    }

    .items:hover {
        color: $MainColor;
    }

    .burger {
        display: none;
    }

    .linkContainer {
        display: flex;
    }

    // }
}

@media only screen and (max-width:950px) {
    .ticket{
        display: none;
    }
    .nav,.spaceHolder{
        height: 55px;
        padding: 0;
    }

    .nav {
        font-size: .8em;

        .logoContainer {
            text-align: center;
            padding: 7px 0;
        }

        .burger {
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            padding: 0 20px;
            display: flex !important;
            flex-direction: column;
            justify-content: center;
            cursor: pointer;
        }

        .linkContainer {
            left: 100%;
            top: 0;
            opacity: 0;
            position: absolute;
            transition: opacity .2s;

            .items {
                padding: 15px 0;
            }
        }

        .linkContainer.expand {
            background-color: rgba(255, 255, 255, .95);
            padding-top: 50px;
            font-size: 1.5em;
            top: 100%;
            left: 0;
            width: 100%;
            height: 100vh;
            z-index: 99999;
            display: flex;
            flex-direction: column;
            opacity: 1;
            transform: none;

            a {
                margin: 0 auto;
            }

            .multiLinkLabel {
                width: 100%;
                text-align: center;
                margin: 0 auto;

                &:before {
                    left: calc(50% + 40px);
                    top: 22px;
                }

                &:hover .subLinksContainer {
                    position: relative;
                    top: 0;
                    background-color: inherit;
                    box-shadow: none;
                }
            }

            .subLinksContainer {
                padding: 10px 0 0 0;

                .items {
                    padding: 10px 0;

                    &:hover {
                        border: none;
                    }
                }
            }
        }
    }
}