.snack{
    font-size: calc(.8em + 1.5 * ((100vw - 320px) / 680));
    background-color: #222;
    display: inline-block;
    padding: 14px 70px 14px 18px;
    margin-top: 10px;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
    transition: background .2s;

    z-index: 3;

    &:hover{
        background-color: #282828;

        .message{
            color: #fff;
        }
    }
    
    
    .message{
        color: #eee;
        font-size: 1.3em;
        font-weight: 300;
    }
    .btnContainer{
        
        position: absolute;
        height: 100%;
        top: 0;
        right: 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        // background-color: #000;
        cursor: pointer;
        transition: background .2s;
        // span{
        //     background-color: #f00;
        // }
        // font-size: 1.2em;
        
        // &:hover{
        //     background-color: #000;
        // }
        .btn{
            padding:0 15px;
            color: #fff;
        }
    }


    @media only screen and (max-width:600px) {
        width: 100%;
        box-sizing: border-box;
    }
}